@mixin background-image( $background: false, $size: contain, $position: center ) {
    @if $background {
        background: $background;
    }
    background-size: $size;
    background-repeat: no-repeat;
    background-position: $position;
}
